
.footer-container {
    border-top: 1px solid #EBEBEB;
    height: 50px;
    display: block;
    z-index: 5;
    bottom: 0px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}
.left-container {
    margin-left: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer-links {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.footer-links li {
    list-style:inside;
    align-items: center;
    justify-content: center;
    margin:0 10px;
}

.right-container {
    margin-right: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.language, .currency, .support {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin:0 10px;
    cursor: pointer;
}
.language:hover, .currency:hover, .support:hover {
    text-decoration: underline;
}
.support p{
    padding: 10px;
}

.support-popup {
    position: fixed;
    bottom: -400px;
    height: 400px;
    background-color: aquamarine;
    width: 100%;
    z-index: 5;
    transition: bottom 5s ease-in-out;
}

.show {
    bottom: 0;
    transition: bottom 5s ease-in-out;
}

.close-support {
  position: absolute;
  margin: 20px;
  font-size: 20px;
  cursor: pointer;
}
.support-container {
    margin: 0 80px;
}


body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
    filter: blur(1.5rem);
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  body.popup-open::before {
    opacity: 1;
    pointer-events: auto;
  }
@media only screen and (max-width: 950px) {
    footer {
        justify-content: center;
    }
    .-left-container {
        margin: 0;
    }
    .footer-links{
      display: none;
    }
  }