.filters {
    top: 81px;
    position: fixed;
    
    height: 100px;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EBEBEB;
    box-shadow: 0px 1px 2px 1px rgba(66, 68, 90, 0.048);
    z-index: 1;
    width: 100%;
}

.selected p{
    color: #666666;
    border-bottom:1px solid #666;
}



