
.card-container {
    top: 100px;
    position: relative;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin: 0 20px;
  }
  
  @media only screen and (min-width: 650px) {
    .card-container {
      grid-template-columns: repeat(autofit, minmax(300px, 1fr));
      margin: 0 20px;
    }
  }