.card-container {
    display: grid;
    grid-auto-flow: row dense;
    grid-gap: 10px;
    grid-template-columns: repeat(6, minmax(150px, 1fr));
    align-content: center;
    justify-content: center;
    align-items: start;
    justify-items: center;
} 